###### Requirements without Version Specifiers ######
pytest

###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
# html5lib == 0.999  # Pandas complains if bad request
lxml == 3.7.2
numpy == 1.11.3
pandas == 0.19.2
pip == 9.0.1
requests == 2.12.4
# pytables in conda == tables in pip
pytables == 3.3.0
